<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button icon-left ion-checkmark-round" ng-click="checkAll()"></button>
        <h1 class="title">Lista de Alunos</h1>
        <button ng-click="closeModal()" class="button button-clear ion-close-round"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list id="alunos-list">
            <ion-checkbox ng-repeat="aluno in alunos.data" ng-model="aluno.isChecked">
                {{aluno.numero}} - {{aluno.nome}}
            </ion-checkbox>
            <button class="button button-full button-positive">Add Alunos</button>
        </ion-list>
    </ion-content>
</ion-modal-view>