<ion-view title="Lista de Alunos">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="showAlunos()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="item item-divider">
            {{disciplina.nome}}
        </div>
        <ion-list id="alunos-disciplinas-list">
            <ion-item ng-repeat="aluno in disciplina.alunos">
                <h2>{{aluno.numero}} - {{aluno.nome}}</h2>
                <ion-option-button class="button-assertive" ng-click="deleteAluno(aluno)">
                    Excluir
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
                    
    </ion-footer-bar>   
</ion-view>