<ion-view title="Alunos" ng-controller="alunosCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="alunos-list8">
            <ion-item class="item-avatar  side-menu-item-avatar" ng-repeat="item in alunos.data">
                <img src="img/{{item.sexo == 'M' ? 'avatar3.png' : 'avatar2.png'}}">
                <h2>{{item.nome}}</h2>
                <p>{{item.endereco}}, {{item.cidade}}</p>
                <button ng-click="deleteRecord(item)">Deletar</button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar..." ng-model="search">
        </label>
    </ion-footer-bar>   
</ion-view>
