<ion-view title="Alunos" ng-controller="alunosCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="alunos-list8">
            <ion-item class="item-avatar  side-menu-item-avatar" ng-repeat="aluno in alunos.data" ng-click="editRecord(aluno)">
                <img ng-src="{{'img/' + (aluno.sexo == 'M' ? 'avatar3.png' : 'avatar2.png')}}">
                <h2>{{aluno.nome}}</h2>
                <p>{{aluno.endereco}}, {{aluno.cidade}}</p>
                <ion-option-button class="button-stable" ng-click="deleteRecord(aluno)">
                    Excluir
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar..." ng-model="search">
        </label>
    </ion-footer-bar>   
</ion-view>
