<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Cadastrar</h1>
        <button ng-click="closeModal()" class="button button-clear ion-close-round"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" ng-model="escola.nome">
            </label>
            <label class="item item-input">
                <span class="input-label">Endereço</span>
                <input type="text" ng-model="escola.endereco">
            </label>
            <label class="item item-input">
                <span class="input-label">Cidade</span>
                <input type="text" ng-model="escola.cidade">
            </label>
            <button class="button button-full button-positive" ng-click="saveRecord()">Confirmar</button>
        </div>
    </ion-content>
</ion-modal-view>