<ion-view title="Disciplinas" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="disciplinas-list6">
            <ion-item class="item-icon-left" id="disciplinas-list-item10">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="disciplinas-list-item11">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="disciplinas-list-item12">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>