<ion-view title="Escola">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="escolas-list">
            <ion-item ng-repeat="escola in escolas.data" ng-click="editRecord(escola)">
                <h2>{{escola.nome}}</h2>
                <p>{{escola.endereco}}, {{escola.cidade}}</p>
                <ion-option-button class="button-assertive" ng-click="deleteRecord(escola)">
                    Excluir
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>   
</ion-view>