<ion-view title="Início">
    <ion-content padding="true" class="has-header">
    <div class="list card">
        <ion-item class="item">
            <h2>Frequência</h2>
            <p>Controle a frequência de seus alunos...</p>
        </ion-item>
    </div>
    <div class="list card">
        <ion-item class="item">
            <h2>Notas</h2>
            <p>Faça o lançamento de notas e avaliações...</p>
        </ion-item>
    </div>
    <div class="list card">
        <ion-item class="item">
            <h2>Configuração</h2>
            <p>Acesse para configurar seu app...</p>
        </ion-item>
    </div>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar..." ng-model="search">
        </label>
    </ion-footer-bar>
</ion-view>
