<ion-view title="Início">
    <ion-content padding="true" class="has-header">
        <!--<div class="list card">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/freq.png">
                <h2>Frequência</h2>
                <p>Criar listas</p>
                <p>Lançar frequência</p>
                <p>Apuração de frequência</p>
            </a>
        </div>
        <div class="list card">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/graf.png">
                <h2>Notas</h2>
                <p>Criar avaliações</p>
                <p>Lançar notas</p>
                <p>Apurar resultados</p>
            </a>
        </div>
            <div class="list card">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/eng.png">
                <h2>Configurações</h2>
                <p>Perfil e conta</p>
                <p>Opções de apuração</p>
                <p>Painel de Controle</p>
            </a>
        </div>-->
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar..." ng-model="search">
        </label>
    </ion-footer-bar>
</ion-view>
