<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#3F51B5;">
        <ion-content padding="true" style="top:0px !important;" class="side-menu-left side-menu-gradient">
            <h3 id="layout-heading2" style="color:#FFFFFF;font-weight:400;text-align:center;">Aluno 10</h3>
            <div class="spacer" style="width: 268px; height: 10px;"></div>
            <div class="profile-image">
                <img src="img/avatar1.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h3 id="layout-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;">Professor</h3>
            <div class="spacer" style="width: 268px; height: 10px;"></div>
            <ion-list id="layout-list1">
                <ion-item class="item-icon-left  side-menu-item" id="layout-list-item1" ui-sref="layout.alunos" menu-close="">
                    <i class="icon ion-university"></i>Alunos
                </ion-item>
                <ion-item class="item-icon-left  side-menu-item" id="layout-list-item2" ui-sref="layout.escolas"      menu-close="">
                    <i class="icon ion-android-home"></i>Escolas
                </ion-item>
                <ion-item class="item-icon-left side-menu-item" id="layout-list-item3" ui-sref="layout.disciplinas"      menu-close="">
                    <i class="icon ion-ios-book"></i>Disciplinas
                </ion-item>
                <ion-item class="item-icon-left  side-menu-item" id="layout-list-item3" ui-sref="layout.turmas"      menu-close="">
                    <i class="icon ion-android-contacts"></i>Turmas
                </ion-item>
                <ion-item class="item-icon-left  side-menu-item" id="layout-list-item4" ui-sref="layout.configuracao"     menu-close="">
                    <i class="icon ion-android-settings"></i>Configuração
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>