<ion-popover-view style="height: {{(56 * 2) + 'px'}}" style="margin:0;padding:0">
    <ion-content style="margin:0;padding:0">
        <div class="list">
            <a class="item item-icon-left" ng-click="editRecord()">
                <i class="icon ion-edit"></i>
                Editar
            </a>
            <a class="item item-icon-left" ng-click="deleteRecord()">
                <i class="icon ion-trash-a"></i>
                Excluir
            </a>
        </div>
    </ion-content>
</ion-popover-view>