<ion-popover-view style="height: {{(53 * 4) + 'px'}}" style="margin:0;padding:0" ng-controller="cad_disciplinasCtrl">
    <ion-content style="margin:0;padding:0">
        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-edit"></i>
                Editar Disciplina
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-trash-a"></i>
                Excluir Disciplina
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-list"></i>
                Lançar Frequência
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-list-outline"></i>
                Lançar Notas
            </a>
        </div>
    </ion-content>
</ion-popover-view>