<ion-popover-view style="height: {{(52 * 3) + 'px'}}" style="margin:0;padding:0">
    <ion-content style="margin:0;padding:0">
        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-plus-round"></i>
                Disciplinas
            </a>
            <a class="item item-icon-left" ng-click="editRecord()">
                <i class="icon ion-edit"></i>
                Editar Turma
            </a>
            <a class="item item-icon-left" ng-click="deleteRecord(turma)">
                <i class="icon ion-trash-a"></i>
                Excluir Turma
            </a>
        </div>
    </ion-content>
</ion-popover-view>