<ion-popover-view style="height: {{(53 * 5) + 'px'}}" style="margin:0;padding:0">
    <ion-content style="margin:0;padding:0">
        <div class="list">
            <a class="item item-icon-left" ng-click="editRecord()">
                <i class="icon ion-edit"></i>
                Editar Disciplina
            </a>
            <a class="item item-icon-left" ng-click="deleteRecord()">
                <i class="icon ion-trash-a"></i>
                Excluir Disciplina
            </a>
            <a class="item item-icon-left" ng-click="addAlunos()">
                <i class="icon ion-ios-people"></i>
                Lista de Alunos
            </a>
            <a class="item item-icon-left" ng-click="addFrequencia()">
                <i class="icon ion-ios-paper-outline"></i>
                Lançar Frequência
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-list-outline"></i>
                Lançar Notas
            </a>
        </div>
    </ion-content>
</ion-popover-view>