<ion-view title="Turmas" ng-controller="turmasCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <div class="item" ng-if="!turmas.data.length">
                <p>Toque <i class="icon ion-plus"></i> para cadastrar um turma</p>
            </div>
            <div class="item item-button-right" collection-repeat="turma in turmas.data">
                <h2>{{turma.nome}}</h2>
                <p>{{turma.descricao}}</p>
                <button class="button button-clear button-dark" ng-click="showPopup(turma, $event)">
                    <i class="icon ion-android-more-vertical"></i>
                </button>                
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar..." ng-model="search">
        </label>
    </ion-footer-bar>   
</ion-view>