<ion-view title="Turma">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="turmas-list">
            <ion-item ng-repeat="turma in turmas.data" ng-click="editRecord(turma)">
                <h2>{{turma.nome}}</h2>
                <p>{{turma.descricao}}</p>
                <ion-option-button class="button-assertive" ng-click="deleteRecord(turma)">
                    Excluir
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar..." ng-model="search">
        </label>
    </ion-footer-bar>   
</ion-view>