<ion-view title="Escolas" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="escolas-list7">
            <ion-item class="item-icon-left" id="escolas-list-item13">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="escolas-list-item14">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="escolas-list-item15">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>