<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Alunos</h1>
        <button ng-click="closeModal()" class="button button-clear ion-close-round"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-checkbox class ="checkbox-positive" ng-click="checkAll()">
            Marcar ou desmarcar todos       
        </ion-checkbox>
        <ion-list id="alunos-list">
            <ion-checkbox ng-repeat="aluno in alunos.data track by $index" ng-model="aluno.isChecked" ng-checked="aluno.isChecked">
                {{aluno.numero}} - {{aluno.nome}}
            </ion-checkbox>
            <button class="button button-full button-positive" ng-click="addAlunos()">Add Alunos</button>
        </ion-list>
    </ion-content>
</ion-modal-view>