<ion-view title="Avaliações">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-item class="item-divider">
            <!--<h2>{{disciplina.nome}}</h2>-->
        </ion-item>
        <ion-list id="avaliacoes-list">
            <!--<ion-item ng-repeat="frequencia in listaFrequencias" class="item-icon-right">
                <h2>Data: {{frequencia.data_freq | date:"dd/MM/yyyy"}} - {{frequencia.qtde}}</h2>
                <ion-option-button class="button-assertive" ng-click="deleteRecord()">
                    Excluir
                </ion-option-button>
            </ion-item>-->
        </ion-list>        
    </ion-content>
</ion-view>