<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Cadastrar</h1>
        <button ng-click="closeModal()" class="button button-clear ion-close-round"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" ng-model="aluno.nome">
            </label>
            <label class="item item-input">
                <span class="input-label">Número</span>
                <input type="text" ng-model="aluno.numero">
            </label>
            <div class="radio-buttons">
                <ion-radio-button placeholder="Sexo">
                    <ion-radio ng-model="aluno.sexo" ng-value="'M'">Masculino</ion-radio>
                    <ion-radio ng-model="aluno.sexo" ng-value="'F'">Feminino</ion-radio>
                </ion-radio-button>
            </div>
            <label class="item item-input">
                <span class="input-label">Endereço</span>
                <input type="text" ng-model="aluno.endereco">
            </label>
            <label class="item item-input">
                <span class="input-label">Cidade</span>
                <input type="text" ng-model="aluno.cidade">
            </label>
            <button class="button button-full button-positive" ng-click="saveRecord()">Confirmar</button>
        </div>
    </ion-content>
</ion-modal-view>