<ion-view title="Diário de Classe">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="disciplinas-list">
            <ion-item class="item item-icon-right" ng-repeat="disciplina in disciplinas.data">
                <h2>{{disciplina.nome}}</h2>
                <p>{{turmas.getById(disciplina.turmaId).nome}}</p>
                <button class="icon ion-android-more-vertical button button-icon" ng-click="openPopover(disciplina, $event)">
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>