<ion-view title="Frequência">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" ng-click="addRecord()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-item class="item-divider">
            <h2>{{disciplina.nome}}</h2>
        </ion-item>
        <ion-list id="frequencias-list" show-delete="removeItem">
            <ion-item class="item item-button-right" ng-repeat="frequencia in listaFrequencias">
                Data: {{frequencia.data_freq | date:"dd/MM/yyyy"}} - {{frequencia.qtde}}
                <button class="button button-icon ion-android-options"
                    ng-click="openPopover(frequencia, $event)">
                </button>
            </ion-item>
        </ion-list>        
    </ion-content>
</ion-view>